@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
    }

    body {
        @apply bg-neutral-950 text-neutral-50 antialiased;
    }
}